*{
    padding:0;
    margin:0;
}

:root{
    --white:#FFFFFF;
    
    --gray-100: #e1e1e6;
    --gray-300: #a8a8b3;
    --gray-800: #29292e;
    --gray-900: #121214;

    --cyan-500: #61dafb;
    --yellow-500: #eba417;
}